NODE_ENV=development
JWT_SECRET=super-secret-jwt-key
RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_EXCHANGE=shop.events

MONGO_AUTH_URI=mongodb://localhost:27017/shop_auth
MONGO_CATALOG_URI=mongodb://localhost:27017/shop_catalog
MONGO_COMM_URI=mongodb://localhost:27017/shop_communication

ADMIN_NAME=Shop Admin
ADMIN_EMAIL=admin@shop.ma
ADMIN_PASSWORD=123456

AUTH_SERVICE_PORT=4001
CATALOG_SERVICE_PORT=4002
COMMUNICATION_SERVICE_PORT=4003
GATEWAY_PORT=8080

AUTH_SERVICE_URL=http://localhost:4001
CATALOG_SERVICE_URL=http://localhost:4002
COMMUNICATION_SERVICE_URL=http://localhost:4003
